div.result {
	float: left;
	width: 250px;
	height: 220px;
	padding: 3px;
	margin: 3px;
	text-align: center;
	vertical-align: middle;
}

@media (min-width: 340px){
	div.book {
    	width: 340px;
	}
}

@media (min-width: 760px){
	div.book {
    	width: 700px;
	}
}

div.book {
	margin: auto;
}

.navbar-inverse {
	background-color: #731472;
}

.navbar-inverse .navbar-brand {
	color: white;
}
