{include file="header.tpl"}

<div style="display:inline-block;">
{foreach from=$results item=result}
<div class="result"><a href="/book.php?cid={$smarty.get.cid}&name={$smarty.get.name|urlencode}&id={$result._id}"><img src="/images/thumb/{$result._source.SmallImageURL}" /><p style="padding: 3px;">{$result._source.DisplayName}</p></a></div>
{/foreach}
</div>

{include file="footer.tpl"}