<!DOCTYPE html>
<html lang="en">

<head>
	<title>Usborne Party for {$smarty.get.name}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/site.css">
	<link rel="icon" type="image/png" href="/favicon.png">
{literal}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-82816668-2', 'auto');
  ga('send', 'pageview');

</script>
{/literal}
</head>
<body>

<div class="navbar navbar-inverse navbar-static-top" role="navigation">
	<a class="navbar-brand" rel="home" href="/search.php?cid={$smarty.get.cid}&name={$smarty.get.name|urlencode}">Usborne Party for {$smarty.get.name}</a>

	<div class="col-sm-3 col-md-3 pull-right">
		<form action="/search.php" class="navbar-form" role="search">
			<input type="hidden" name="cid" value="{$smarty.get.cid}">
			<input type="hidden" name="name" value="{$smarty.get.name}">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Search" name="q" value="{$q}">
				<span class="input-group-btn">
					<button class="btn btn-default" type="submit">
						<span class="glyphicon glyphicon-search"></span>
					</button>
				</span>
			</div>
		</form>
	</div>
</div>

<div class="container">
{if $msg ne ''}
<div class="alert {$msgclass}">{$msg}
{/if}
</div>
